* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 10px;
}
[class*="ea"] {
  color: red;
}
input[type="email"] {
  border: 1px solid red;
}

.ball {
  position: relative;
  width: 200px;
  aspect-ratio: 1;
  background-color: red;
  border-radius: 50%;
  background-image: radial-gradient(circle at 65% 20%, #fff 1px, aqua 8%, blue 50%, aqua 100%);
  margin-block: 50px;
}
.shadow {
  position: absolute;
  width: 100px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.73);
  top: 105%;
  left: 20%;
  border-radius: 50%;
  filter: blur(10px);
}

.box {
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;

  animation: rotate 5s linear infinite;
}
.parent {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0) translateX(50px);
  }
  100% {
    transform: rotateZ(360deg) translateX(50px);
  }
}
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
img {
  width: 500px;
  aspect-ratio: 1;
  object-fit: contain;
}
.container:hover img {
  filter: contrast(1.9);
  filter: blur(5px);
  filter: saturate(1.8);
  filter: grayscale(1);
  filter: sepia(1);
  filter: brightness(0.7);
  filter: hue-rotate(50deg);
  filter: invert(1) saturate(1);
}
